    /*
    Flaticon icon font: Flaticon
    Creation date: 04/04/2018 08:02
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-youtube:before { content: "\f100"; }
.flaticon-002-wordpress:before { content: "\f101"; }
.flaticon-003-whatsapp:before { content: "\f102"; }
.flaticon-004-twitter:before { content: "\f103"; }
.flaticon-005-tumblr:before { content: "\f104"; }
.flaticon-006-stamp:before { content: "\f105"; }
.flaticon-007-snapchat:before { content: "\f106"; }
.flaticon-008-slack:before { content: "\f107"; }
.flaticon-009-skype:before { content: "\f108"; }
.flaticon-010-reddit:before { content: "\f109"; }
.flaticon-011-pinterest:before { content: "\f10a"; }
.flaticon-012-email-46:before { content: "\f10b"; }
.flaticon-013-user:before { content: "\f10c"; }
.flaticon-014-paypal:before { content: "\f10d"; }
.flaticon-015-chat-24:before { content: "\f10e"; }
.flaticon-016-chat-23:before { content: "\f10f"; }
.flaticon-017-chat-22:before { content: "\f110"; }
.flaticon-018-chat-21:before { content: "\f111"; }
.flaticon-019-chat-20:before { content: "\f112"; }
.flaticon-020-chat-19:before { content: "\f113"; }
.flaticon-021-chat-18:before { content: "\f114"; }
.flaticon-022-chat-17:before { content: "\f115"; }
.flaticon-023-chat-16:before { content: "\f116"; }
.flaticon-024-chat-15:before { content: "\f117"; }
.flaticon-025-chat-14:before { content: "\f118"; }
.flaticon-026-chat-13:before { content: "\f119"; }
.flaticon-027-chat-12:before { content: "\f11a"; }
.flaticon-028-chat-11:before { content: "\f11b"; }
.flaticon-029-chat-10:before { content: "\f11c"; }
.flaticon-030-chat-9:before { content: "\f11d"; }
.flaticon-031-chat-8:before { content: "\f11e"; }
.flaticon-032-chat-7:before { content: "\f11f"; }
.flaticon-033-medium:before { content: "\f120"; }
.flaticon-034-mailbox:before { content: "\f121"; }
.flaticon-035-linkedin:before { content: "\f122"; }
.flaticon-036-line:before { content: "\f123"; }
.flaticon-037-laptop:before { content: "\f124"; }
.flaticon-038-instagram:before { content: "\f125"; }
.flaticon-039-google-plus:before { content: "\f126"; }
.flaticon-040-chat-6:before { content: "\f127"; }
.flaticon-041-flickr:before { content: "\f128"; }
.flaticon-042-facebook:before { content: "\f129"; }
.flaticon-043-messenger:before { content: "\f12a"; }
.flaticon-044-email-45:before { content: "\f12b"; }
.flaticon-045-email-44:before { content: "\f12c"; }
.flaticon-046-email-43:before { content: "\f12d"; }
.flaticon-047-email-42:before { content: "\f12e"; }
.flaticon-048-email-41:before { content: "\f12f"; }
.flaticon-049-email-40:before { content: "\f130"; }
.flaticon-050-email-39:before { content: "\f131"; }
.flaticon-051-email-38:before { content: "\f132"; }
.flaticon-052-email-37:before { content: "\f133"; }
.flaticon-053-email-36:before { content: "\f134"; }
.flaticon-054-email-35:before { content: "\f135"; }
.flaticon-055-email-34:before { content: "\f136"; }
.flaticon-056-email-33:before { content: "\f137"; }
.flaticon-057-email-32:before { content: "\f138"; }
.flaticon-058-email-31:before { content: "\f139"; }
.flaticon-059-email-30:before { content: "\f13a"; }
.flaticon-060-email-29:before { content: "\f13b"; }
.flaticon-061-email-28:before { content: "\f13c"; }
.flaticon-062-email-27:before { content: "\f13d"; }
.flaticon-063-email-26:before { content: "\f13e"; }
.flaticon-064-email-25:before { content: "\f13f"; }
.flaticon-065-email-24:before { content: "\f140"; }
.flaticon-066-email-23:before { content: "\f141"; }
.flaticon-067-email-22:before { content: "\f142"; }
.flaticon-068-email-21:before { content: "\f143"; }
.flaticon-069-email-20:before { content: "\f144"; }
.flaticon-070-email-19:before { content: "\f145"; }
.flaticon-071-email-18:before { content: "\f146"; }
.flaticon-072-email-17:before { content: "\f147"; }
.flaticon-073-email-16:before { content: "\f148"; }
.flaticon-074-email-15:before { content: "\f149"; }
.flaticon-075-email-14:before { content: "\f14a"; }
.flaticon-076-email-13:before { content: "\f14b"; }
.flaticon-077-email-12:before { content: "\f14c"; }
.flaticon-078-email-11:before { content: "\f14d"; }
.flaticon-079-email-10:before { content: "\f14e"; }
.flaticon-080-email-9:before { content: "\f14f"; }
.flaticon-081-email-8:before { content: "\f150"; }
.flaticon-082-email-7:before { content: "\f151"; }
.flaticon-083-email-6:before { content: "\f152"; }
.flaticon-084-arroba-1:before { content: "\f153"; }
.flaticon-085-email-5:before { content: "\f154"; }
.flaticon-086-email-4:before { content: "\f155"; }
.flaticon-087-arroba:before { content: "\f156"; }
.flaticon-088-email-3:before { content: "\f157"; }
.flaticon-089-email-2:before { content: "\f158"; }
.flaticon-090-email-1:before { content: "\f159"; }
.flaticon-091-email:before { content: "\f15a"; }
.flaticon-092-dribbble:before { content: "\f15b"; }
.flaticon-093-chat-5:before { content: "\f15c"; }
.flaticon-094-chat-4:before { content: "\f15d"; }
.flaticon-095-codepen:before { content: "\f15e"; }
.flaticon-096-chat-3:before { content: "\f15f"; }
.flaticon-097-chat-2:before { content: "\f160"; }
.flaticon-098-chat-1:before { content: "\f161"; }
.flaticon-099-chat:before { content: "\f162"; }
.flaticon-100-behance:before { content: "\f163"; }
    
    $font-Flaticon-001-youtube: "\f100";
    $font-Flaticon-002-wordpress: "\f101";
    $font-Flaticon-003-whatsapp: "\f102";
    $font-Flaticon-004-twitter: "\f103";
    $font-Flaticon-005-tumblr: "\f104";
    $font-Flaticon-006-stamp: "\f105";
    $font-Flaticon-007-snapchat: "\f106";
    $font-Flaticon-008-slack: "\f107";
    $font-Flaticon-009-skype: "\f108";
    $font-Flaticon-010-reddit: "\f109";
    $font-Flaticon-011-pinterest: "\f10a";
    $font-Flaticon-012-email-46: "\f10b";
    $font-Flaticon-013-user: "\f10c";
    $font-Flaticon-014-paypal: "\f10d";
    $font-Flaticon-015-chat-24: "\f10e";
    $font-Flaticon-016-chat-23: "\f10f";
    $font-Flaticon-017-chat-22: "\f110";
    $font-Flaticon-018-chat-21: "\f111";
    $font-Flaticon-019-chat-20: "\f112";
    $font-Flaticon-020-chat-19: "\f113";
    $font-Flaticon-021-chat-18: "\f114";
    $font-Flaticon-022-chat-17: "\f115";
    $font-Flaticon-023-chat-16: "\f116";
    $font-Flaticon-024-chat-15: "\f117";
    $font-Flaticon-025-chat-14: "\f118";
    $font-Flaticon-026-chat-13: "\f119";
    $font-Flaticon-027-chat-12: "\f11a";
    $font-Flaticon-028-chat-11: "\f11b";
    $font-Flaticon-029-chat-10: "\f11c";
    $font-Flaticon-030-chat-9: "\f11d";
    $font-Flaticon-031-chat-8: "\f11e";
    $font-Flaticon-032-chat-7: "\f11f";
    $font-Flaticon-033-medium: "\f120";
    $font-Flaticon-034-mailbox: "\f121";
    $font-Flaticon-035-linkedin: "\f122";
    $font-Flaticon-036-line: "\f123";
    $font-Flaticon-037-laptop: "\f124";
    $font-Flaticon-038-instagram: "\f125";
    $font-Flaticon-039-google-plus: "\f126";
    $font-Flaticon-040-chat-6: "\f127";
    $font-Flaticon-041-flickr: "\f128";
    $font-Flaticon-042-facebook: "\f129";
    $font-Flaticon-043-messenger: "\f12a";
    $font-Flaticon-044-email-45: "\f12b";
    $font-Flaticon-045-email-44: "\f12c";
    $font-Flaticon-046-email-43: "\f12d";
    $font-Flaticon-047-email-42: "\f12e";
    $font-Flaticon-048-email-41: "\f12f";
    $font-Flaticon-049-email-40: "\f130";
    $font-Flaticon-050-email-39: "\f131";
    $font-Flaticon-051-email-38: "\f132";
    $font-Flaticon-052-email-37: "\f133";
    $font-Flaticon-053-email-36: "\f134";
    $font-Flaticon-054-email-35: "\f135";
    $font-Flaticon-055-email-34: "\f136";
    $font-Flaticon-056-email-33: "\f137";
    $font-Flaticon-057-email-32: "\f138";
    $font-Flaticon-058-email-31: "\f139";
    $font-Flaticon-059-email-30: "\f13a";
    $font-Flaticon-060-email-29: "\f13b";
    $font-Flaticon-061-email-28: "\f13c";
    $font-Flaticon-062-email-27: "\f13d";
    $font-Flaticon-063-email-26: "\f13e";
    $font-Flaticon-064-email-25: "\f13f";
    $font-Flaticon-065-email-24: "\f140";
    $font-Flaticon-066-email-23: "\f141";
    $font-Flaticon-067-email-22: "\f142";
    $font-Flaticon-068-email-21: "\f143";
    $font-Flaticon-069-email-20: "\f144";
    $font-Flaticon-070-email-19: "\f145";
    $font-Flaticon-071-email-18: "\f146";
    $font-Flaticon-072-email-17: "\f147";
    $font-Flaticon-073-email-16: "\f148";
    $font-Flaticon-074-email-15: "\f149";
    $font-Flaticon-075-email-14: "\f14a";
    $font-Flaticon-076-email-13: "\f14b";
    $font-Flaticon-077-email-12: "\f14c";
    $font-Flaticon-078-email-11: "\f14d";
    $font-Flaticon-079-email-10: "\f14e";
    $font-Flaticon-080-email-9: "\f14f";
    $font-Flaticon-081-email-8: "\f150";
    $font-Flaticon-082-email-7: "\f151";
    $font-Flaticon-083-email-6: "\f152";
    $font-Flaticon-084-arroba-1: "\f153";
    $font-Flaticon-085-email-5: "\f154";
    $font-Flaticon-086-email-4: "\f155";
    $font-Flaticon-087-arroba: "\f156";
    $font-Flaticon-088-email-3: "\f157";
    $font-Flaticon-089-email-2: "\f158";
    $font-Flaticon-090-email-1: "\f159";
    $font-Flaticon-091-email: "\f15a";
    $font-Flaticon-092-dribbble: "\f15b";
    $font-Flaticon-093-chat-5: "\f15c";
    $font-Flaticon-094-chat-4: "\f15d";
    $font-Flaticon-095-codepen: "\f15e";
    $font-Flaticon-096-chat-3: "\f15f";
    $font-Flaticon-097-chat-2: "\f160";
    $font-Flaticon-098-chat-1: "\f161";
    $font-Flaticon-099-chat: "\f162";
    $font-Flaticon-100-behance: "\f163";